
@page "/insert"
<PageTitle>Employee List</PageTitle>

@using Employee.Models;
@using Employee.Data;
@using Microsoft.AspNetCore.Components;
@inject EmployeeService EmployeeService;
@inject NavigationManager NavigationManager;

<EditForm Model="NewEmployee" OnValidSubmit="AddEmployee">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText class="form-control" id="name" @bind-Value="NewEmployee.Ename" />
        <ValidationMessage For="@(() => NewEmployee.Ename)" />
    </div>
    <div class="form-group">
        <label for="department">Department:</label>
        <InputText class="form-control" id="department" @bind-Value="NewEmployee.DeptName" />
        <ValidationMessage For="@(() => NewEmployee.DeptName)" />
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <InputNumber class="form-control" id="age" @bind-Value="NewEmployee.Age" />
        <ValidationMessage For="@(() => NewEmployee.Age)" />
    </div>
    <div class="form-group">
        <label for="salary">Salary:</label>
        <InputNumber class="form-control" id="salary" @bind-Value="NewEmployee.Salary" />
        <ValidationMessage For="@(() => NewEmployee.Salary)" />
    </div>

    <button type="submit" class="btn btn-primary">Add Employee</button>
</EditForm>


@if (IsEmployeeAdded)
{
    <p class="text-success">Employee added successfully!</p>
}

@code {
    private Employee NewEmployee = new Employee(); // Assumes you have an Employee entity
    private bool IsEmployeeAdded = false;

    
    private async Task AddEmployee()
    {
        int affectedRows = await EmployeeService.InsertEmployeeAsync(
            NewEmployee.Ename,
            NewEmployee.DeptName,
            NewEmployee.Age,
            NewEmployee.Salary,
            NewEmployee.Skills
        );

        if (affectedRows > 0)
        {
            IsEmployeeAdded = true;
            // Optionally, you can reset the form or do any other necessary actions after successful insertion
            NewEmployee = new Employee();

            // // Navigate to another page (replace "/target-page" with your desired target page)
             NavigationManager.NavigateTo("/fetchdataEmp");
        }
    }
} 


 






